/* ----------------------- */
/* base
/* ----------------------- */
html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: 'Montserrat', 'Noto Sans JP', sans-serif;
  color: #333;
}

img, svg {
  width: 100%;
  vertical-align: bottom;
}

a {
  text-decoration: none;
  display: inline-block;
}

a:hover {
  opacity: .7;
  -webkit-transition: .3s;
  transition: .3s;
}

button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;
  padding: 0;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

.section-wrapper {
  padding: 60px 0;
}

.flex-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.content-wrapper {
  max-width: 1100px;
  padding: 0 30px;
  margin: 0 auto;
}

.section-title {
  font-size: 3.2rem;
  font-weight: bold;
  margin-bottom: 30px;
}

.link-btn {
  color: #fff;
  background-color: #000;
  width: 160px;
  line-height: 36px;
  font-size: 1.2rem;
  display: block;
  text-align: center;
  font-weight: bold;
  margin-top: 30px;
}

.gray-bg {
  background-color: #f2f2f2;
}

.lines {
  line-height: 2;
}

body.noscroll {
  overflow: hidden;
}

.header-logo.black a img {
  fill: #333;
  -webkit-transition: fill .3s;
  transition: fill .3s;
}

.header-right.black .bar {
  background-color: #333;
  -webkit-transition: background-color .3s;
  transition: background-color .3s;
}

.header-right.black .menu {
  color: #333;
  -webkit-transition: color .3s;
  transition: color .3s;
}

.header {
  position: fixed;
  top: 0;
  z-index: 100;
  width: 100%;
  height: 94px;
  background-color: transparent;
}

.header-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100%;
  width: 90%;
  margin: 0 auto;
}

.header-logo img {
  width: 260px;
  text-align: center;
}

@media screen and (max-width: 768px) {
  .header-logo img {
    width: 189px;
  }
}

.header-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-right .menu {
  display: block;
  font-size: 1rem;
  color: white;
  margin-left: 5px;
  font-weight: bold;
}

.hamburger-btn {
  display: block;
  position: relative;
  width: 25px;
  height: 16px;
  z-index: 12;
}

.hamburger-btn__parts {
  display: block;
  width: 100%;
  height: 2px;
  background-color: white;
  position: absolute;
  -webkit-transition: opacity 0.5s, -webkit-transform 0.5s;
  transition: opacity 0.5s, -webkit-transform 0.5s;
  transition: transform 0.5s, opacity 0.5s;
  transition: transform 0.5s, opacity 0.5s, -webkit-transform 0.5s;
}

.hamburger-btn__parts.-top {
  top: 0;
}

.hamburger-btn__parts.-middle {
  top: 0;
  bottom: 0;
  margin: auto;
}

.hamburger-btn__parts.-bottom {
  bottom: 0;
}

.burger-btn.black .bar {
  background-color: #333;
  -webkit-transition: background-color .3s;
  transition: background-color .3s;
}

.burger-btn.black .menu {
  color: #333;
  -webkit-transition: color .3s;
  transition: color .3s;
}

.hamburger-btn.active .hamburger-btn__parts.-top {
  -webkit-transform: translateY(10px) rotate(-45deg);
          transform: translateY(10px) rotate(-45deg);
}

.hamburger-btn.active .hamburger-btn__parts.-middle {
  opacity: 0;
}

.hamburger-btn.active .hamburger-btn__parts.-bottom {
  -webkit-transform: translateY(-4px) rotate(45deg);
          transform: translateY(-4px) rotate(45deg);
}

.hamburger-nav {
  font-weight: bold;
  font-size: 2rem;
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  width: 36.1vw;
  text-align: center;
  padding: 120px 0 0;
  background-color: rgba(34, 34, 34, 0.95);
  z-index: 11;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  opacity: 0;
  -webkit-transition: opacity .3s,-webkit-transform .3s;
  transition: opacity .3s,-webkit-transform .3s;
  transition: transform .3s,opacity .3s;
  transition: transform .3s,opacity .3s,-webkit-transform .3s;
}

@media screen and (max-width: 768px) {
  .hamburger-nav {
    width: 70.0%;
  }
}

.hamburger-nav__lists {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hamburger-nav__lists-list {
  text-align: center;
  margin-bottom: 30px;
  color: #FFFFFF;
}

.hamburger-nav__lists-list-link {
  text-decoration: none;
  color: #ffffff;
  font-weight: bold;
}

.hamburger-nav__lists-list:first-of-type {
  margin-bottom: 40px;
}

.hamburger-nav__lists-list:last-of-type {
  margin-bottom: 0;
}

.hamburger-nav.active {
  -webkit-transform: translateX(0);
          transform: translateX(0);
  opacity: 1;
  -webkit-transition: opacity .3s,-webkit-transform .3s;
  transition: opacity .3s,-webkit-transform .3s;
  transition: transform .3s,opacity .3s;
  transition: transform .3s,opacity .3s,-webkit-transform .3s;
}

.burger-musk {
  display: none;
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 5;
}

.mv {
  width: 100%;
  height: 740px;
  position: relative;
}

.mv-img {
  height: 86.5%;
  width: 76.4%;
  background-size: cover;
  background-position: center 0;
  position: relative;
  background-image: url(../image/the-honest-company-uM-WXMr-2@2x-min.png);
  z-index: 3;
}

.mv-img img {
  width: 100%;
  height: 570px;
  opacity: 0.8;
}

.mv-copy {
  position: absolute;
  top: 50%;
  right: 0;
  -webkit-transform: translate(50%, -50%);
          transform: translate(50%, -50%);
  z-index: 9999;
  color: white;
}

@media screen and (max-width: 768px) {
  .mv-copy {
    right: -15%;
    -webkit-transform: translate(0, -50%);
            transform: translate(0, -50%);
  }
}

.mv-copy p {
  font-size: 16px;
  margin: 0;
}

.mv-copy h1 {
  font-size: 70px;
  font-weight: bold;
  margin: 0;
  line-height: 1.2;
  padding: 5px 0;
}

@media screen and (max-width: 768px) {
  .mv-copy h1 {
    font-size: 5.6rem;
  }
}

.mv::after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  background-color: #222;
  width: 50%;
  height: 100%;
  z-index: -1;
}

.btn {
  font-size: 12px;
  font-weight: bold;
  line-height: 12px;
  padding: 12px 44px;
  text-align: center;
  background-color: #000000;
  color: #FFFFFF;
  text-decoration: none;
}

.about-bg {
  background-image: url(../image/skyline-4582510_1920@2x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding: 110px 0 110px 50px;
  z-index: 1;
}

@media screen and (max-width: 768px) {
  .about-bg {
    padding: 50px 4vw;
  }
}

.about::after {
  content: "";
  width: 100vw;
  height: 160px;
  display: block;
  background-color: #f2f2f2;
  position: absolute;
  bottom: 0;
  z-index: -1;
}

.about {
  width: 100%;
  z-index: 1;
  padding-top: 120px;
  position: relative;
}

@media screen and (max-width: 768px) {
  .about {
    padding-top: 60px;
  }
}

.about-inner {
  max-width: 1100px;
  margin: 0 auto;
}

@media screen and (max-width: 768px) {
  .about-inner {
    margin: 0 auto;
  }
}

.about-content {
  max-width: 590px;
  padding: 50px 30px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: rgba(255, 255, 255, 0.95);
}

.about-content h1 {
  font-size: 32px;
  margin-bottom: 30px;
}

.about-content p {
  font-size: 16px;
  line-height: 2;
}

.about-content .about-btn {
  margin-top: 30px;
  display: inline-block;
}

.wrapper {
  background-color: #F0F0F0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 80px 0 60px;
  margin-bottom: 60px;
}

.wrapper-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 30px;
}

@media screen and (max-width: 768px) {
  .wrapper-inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    padding: 0 4vw;
    margin: 0;
  }
}

.wrapper p {
  font-size: 16px;
  display: block;
  margin-bottom: 30px;
  margin-top: 40px;
}

@media screen and (max-width: 768px) {
  .wrapper p {
    margin-top: 30px;
  }
}

.wrapper .section-wrapper {
  width: 47.3%;
}

@media screen and (max-width: 768px) {
  .wrapper .section-wrapper {
    width: 100%;
    padding: 0;
  }
}

.wrapper .left h1 {
  margin-bottom: 30px;
  font-weight: bold;
  font-size: 32px;
}

@media screen and (max-width: 768px) {
  .wrapper .right {
    margin-top: 40px;
  }
}

.wrapper .right h1 {
  margin-bottom: 30px;
  font-weight: bold;
  font-size: 32px;
}

.anchor {
  display: block;
  padding-top: 230px;
  margin-top: -230px;
}

.topics-inner {
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 30px;
}

.topics-ttl {
  font-size: 32px;
  font-weight: bold;
}

.topics li {
  padding-bottom: 12px;
  border-bottom: 1px solid #DDDDDD;
}

.topics li:nth-of-type(n+1) {
  margin-top: 32px;
}

.topics .topic {
  max-width: 700px;
  margin-left: auto;
  padding-top: 61px;
}

@media screen and (max-width: 768px) {
  .topics .topic {
    margin-left: 0;
    padding-top: 40px;
  }
}

.topics .date {
  margin-bottom: 13px;
  font-size: 10px;
}

.topics .text {
  font-size: 14px;
  font-weight: bold;
}

.topics-btn {
  margin-top: 30px;
  margin-left: auto;
  max-width: 160px;
}

@media screen and (max-width: 768px) {
  .topics-btn {
    margin-left: 0;
  }
  .topics-btn a {
    font-size: 10px;
  }
}

.contact {
  background-color: #F2F2F2;
  padding-top: 120px;
  padding-bottom: 60px;
  margin-top: 60px;
}

@media screen and (max-width: 768px) {
  .contact {
    padding-top: 40px;
  }
}

.contact-inner {
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 30px;
}

.contact-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 768px) {
  .contact-wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
}

.contact-wrapper .left {
  margin-right: 80px;
  width: 40%;
}

@media screen and (max-width: 768px) {
  .contact-wrapper .left {
    margin-top: 30px;
    width: 440px;
    max-width: 100%;
    margin-right: 0;
  }
}

.contact-wrapper .left h1 {
  margin-bottom: 30px;
  font-size: 32px;
  font-weight: bold;
}

.contact-wrapper .left p {
  font-size: 1.6rem;
  line-height: 2;
  margin-bottom: 30px;
  display: inline-block;
}

@media screen and (max-width: 768px) {
  .contact-wrapper .left p {
    margin: 0 auto;
    display: block;
    font-size: 1.4rem;
  }
}

.contact-wrapper .right {
  max-width: 580px;
}

.contact-wrapper .right img {
  max-width: 100%;
  height: auto;
}

.contact-btn {
  margin-top: 30px;
}

footer {
  background-color: #707070;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer p {
  font-size: 10px;
  display: inline-block;
  color: #FFFFFF;
}
/*# sourceMappingURL=stylesheet.css.map */