@charset "UTF-8";

//*------------------*
//*  レスポンシブ定義
//*------------------*

//ブレイクポイント
$mb: 768px; //スマホ

//@mediaのフォーマット

//スマホ
@mixin mobile {
  @media screen and (max-width: $mb) {
    @content;
  }
}
/* ----------------------- */
/* base
/* ----------------------- */

html{
  font-size: 62.5%;
}
body{
  font-size: 1.6rem;
  font-family: 'Montserrat', 'Noto Sans JP', sans-serif;
  color: #333;
}
img,svg{
  width: 100%;
  vertical-align: bottom;
}
a{
  text-decoration: none;
  display: inline-block;
}
a:hover{
  opacity: .7;
  transition: .3s;
}
button{
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;
  padding: 0;
  appearance: none;
}


.section-wrapper{
  padding: 60px 0;
}
.flex-box{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.content-wrapper{
  max-width: 1100px;
  padding: 0 30px;
  margin: 0 auto;
}
.section-title{
  font-size: 3.2rem;
  font-weight: bold;
  margin-bottom: 30px;
}
.link-btn{
  color: #fff;
  background-color: #000;
  width: 160px;
  line-height: 36px;
  font-size: 1.2rem;
  display: block;
  text-align: center;
  font-weight: bold;
  margin-top: 30px;
}
.gray-bg{
  background-color: #f2f2f2;
}
.lines{
  line-height: 2;
}

body.noscroll{
  overflow: hidden;
}

.header-logo.black a img{
  fill: #333;
  transition: fill .3s;
}

.header-right.black .bar{
  background-color: #333;
  transition: background-color .3s;
}

.header-right.black .menu{
  color: #333;
  transition: color .3s;
}

.header{
  position: fixed;
  top:0;
  z-index: 100;
  width: 100%;
  height: 94px;
  background-color: transparent;
  &-inner{  
      display:flex;
      align-items:center;
      justify-content: space-between;
      height:100%;
      width: 90%;
      margin: 0 auto;
  }
  &-logo{
    img{
        width:260px;
        text-align: center;
        @include mobile{
          width: 189px;
        }
    }
  }
  &-right{
    display: flex;
    align-items: center;
    .menu{
      display:block;
      font-size: 1rem;
      color: white;
      margin-left:5px;
      font-weight: bold;
    }
  }
}
.hamburger-btn {
    display: block;
    position: relative;
    width: 25px;
    height: 16px;
    z-index: 12;
}
.hamburger-btn__parts {
  display: block;
  width: 100%;
  height: 2px;
  background-color: white;
  position: absolute;
  transition: transform 0.5s, opacity 0.5s;
}
.hamburger-btn__parts {
  &.-top {
    top: 0;
  }
  &.-middle {
    top: 0;
    bottom: 0;
    margin: auto;
  }
  &.-bottom {
    bottom: 0;
  }
}

.burger-btn.black .bar{
  background-color: #333;
  transition: background-color .3s;
}
.burger-btn.black .menu{
  color: #333;
  transition: color .3s;
}

.hamburger-btn.active {
  .hamburger-btn__parts {
    &.-top {
      transform: translateY(10px) rotate(-45deg);
    }
    //2つ目のspanを消す
    &.-middle {
      opacity: 0;
    }
    //3番目のspanを45度に
    &.-bottom {
      transform: translateY(-4px) rotate(45deg);
    }
  }
}

.hamburger-nav {
  font-weight: bold;
  font-size: 2rem;
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  width: 36.1vw;
  text-align: center;
  padding: 120px 0 0;
  background-color:rgba(34,34,34,.95);
  z-index: 11;
  transform: translateX(100%);
  opacity: 0;
  transition: transform .3s,opacity .3s;
  @include mobile{
    width: 70.0%;
  }
  &__lists {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    &-list {
      text-align: center;
      margin-bottom: 30px;
      color: #FFFFFF;
      &-link {
        text-decoration: none;
        color:#ffffff;
        font-weight: bold;
      }
    }
    &-list:first-of-type{
      margin-bottom: 40px;
    }
    &-list:last-of-type{
      margin-bottom: 0;
    }
  }
}
//activeクラスをつけたら、スライドイン
.hamburger-nav.active {
  transform: translateX(0);
  opacity: 1;
  transition: transform .3s,opacity .3s;
}

.burger-musk{
  display: none;
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  background-color:rgba(0,0,0,.5);
  z-index: 5;
}

.mv{
  width:100%;
  height:740px;
  position: relative;
  &-img{
      height: 86.5%;
      width: 76.4%;
      background-size: cover;
      background-position: center 0;
      position: relative;
      background-image:url(../image/the-honest-company-uM-WXMr-2@2x-min.png);
      z-index: 3;
      img{
        width:100%;
        height:570px;
        opacity: 0.8;
      }
  }
  &-copy{
    position: absolute;
    top:50%;
    right:0;
    transform: translate(50%,-50%);
    z-index: 9999;
    color:white;
    @include mobile {
      right: -15%;
    transform: translate(0,-50%);
    }
    p{
      font-size: 16px;
      margin:0;
    }
    h1{
      font-size: 70px;
      font-weight: bold;
      margin:0;
      line-height: 1.2;
      padding: 5px 0;
      @include mobile {
        font-size: 5.6rem;
      }
    }
  }
}

.mv::after{
  content: "";
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  background-color: #222;
  width: 50%;
  height: 100%;
  z-index: -1;
}
.btn {
  font-size: 12px;
  font-weight: bold;
  line-height: 12px;
  padding:12px 44px;
  text-align: center;
  background-color:#000000;
  color: #FFFFFF;
  text-decoration: none;
}

.about-bg{
  background-image: url(../image/skyline-4582510_1920@2x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding: 110px 0 110px 50px;
  z-index: 1;
  @include mobile{
    padding:50px 4vw;
  }
}

.about::after{
  content: "";
  width: 100vw;
  height: 160px;
  display: block;
  background-color: #f2f2f2;
  position: absolute;
  bottom: 0;
  z-index: -1;
}

.about{
  width:100%;
  z-index: 1;
  padding-top:120px;
  position: relative;
  @include mobile{
    padding-top: 60px;
  }
  &-inner{
    max-width:1100px;
    margin:0 auto;
    @include mobile{
      margin:0 auto;
    }
  }
  &-content{
    max-width: 590px;
    padding: 50px 30px;
    box-sizing: border-box;
    background-color:rgba(255,255,255,.95);
    h1{
      font-size: 32px;
      margin-bottom: 30px;
    }
    p{
      font-size: 16px;
      line-height: 2;
    }
    .about-btn{
      margin-top:30px;
      display: inline-block;
    }
  }
}


.wrapper{
  background-color: #F0F0F0;
  display: flex;
  justify-content: space-between;
  padding:80px 0 60px;
  margin-bottom: 60px;
  &-inner{
    display:flex;
    align-items:center;
    justify-content: space-between;
    max-width: 1100px;
    margin: 0 auto;
    padding:0 30px;
    @include mobile{
      flex-direction: column;
      align-items: flex-start;
      padding: 0 4vw;
      margin: 0;
    }
  }
  p{
    font-size: 16px;
    display: block;
    margin-bottom: 30px;
    margin-top: 40px;
    @include mobile{
      margin-top:30px;
    }
  }
  .section-wrapper{
    width:47.3%;
    @include mobile{
      width: 100%;
      padding: 0;
    }
  }
  .left{
      h1{
        margin-bottom: 30px;
        font-weight: bold;
        font-size: 32px;
      }
  }

  .right{
    @include mobile{
      margin-top: 40px;
    }
    h1{
      margin-bottom: 30px;
      font-weight: bold;
      font-size: 32px;
    }
  }
}

.anchor{
    display: block;
    padding-top: 230px;
    margin-top: -230px;
  }

.topics{
  &-inner{
    max-width: 1100px;
    margin: 0 auto;
    padding:0 30px;
  }
  &-ttl{
    font-size: 32px;
    font-weight: bold;
  }
  li{
    padding-bottom:12px;
    border-bottom:1px solid #DDDDDD;
  }
  li:nth-of-type(n+1){
    margin-top:32px;
  }
  .topic{
    max-width: 700px;
    margin-left: auto;
    padding-top:61px;
    @include mobile{
      margin-left: 0;
      padding-top: 40px;
    }
  }
  .date{
    margin-bottom: 13px;
    font-size: 10px;
  }
  .text{
    font-size: 14px;
    font-weight: bold;
  }
  &-btn{
    margin-top:30px;
    margin-left:auto;
    max-width: 160px;
    @include mobile{
      margin-left: 0;
    a{
      font-size: 10px;
      }
    }
  }
}

.contact{
  background-color: #F2F2F2;
  padding-top: 120px;
  padding-bottom: 60px;
  margin-top: 60px;
  @include mobile{
    padding-top:40px;
  }
  &-inner{
    max-width: 1100px;
    margin: 0 auto;
    padding:0 30px;
  }
  &-wrapper{
    display:flex;
    justify-content: space-between;
    align-items: center;
    @include mobile{
      flex-direction: column-reverse;
    }
    .left{
      margin-right:80px;
      width:40%;
      @include mobile{
        margin-top: 30px;
        width: 440px;
        max-width: 100%;
        margin-right: 0;
      }
      h1{
        margin-bottom: 30px;
        font-size: 32px;
        font-weight: bold;
      }
      p{
        font-size: 1.6rem;
        line-height: 2;
        margin-bottom: 30px;
        display: inline-block;
        @include mobile{
          margin: 0 auto;
          display: block;
          font-size: 1.4rem;
        }
      }
    }
    .right{
      max-width:580px;
      img{
        max-width: 100%;
        height:auto;
      }
    }
  }
  &-btn{
    margin-top: 30px;
  }
}

footer{
  background-color: #707070;
  height:50px;
  display: flex;
  justify-content: center;
  align-items: center;
  p{
    font-size: 10px;
    display: inline-block;
    color: #FFFFFF;
  }
}


